.st0 {
  fill: none;
  stroke: #000;
  stroke-miterlimit: 10;
}
.st1 {
  fill: none;
  stroke-width: 0.25;
}
.st1,
.st2,
.st3,
.st4,
.st5,
.st6,
.st7 {
  stroke: #8bdee7;
  stroke-miterlimit: 10;
}
.st2 {
  fill: none;
  stroke-width: 2;
}
.st3,
.st4,
.st5,
.st6,
.st7 {
  fill: #8bdee7;
}
.st4,
.st5,
.st6,
.st7 {
  fill: none;
  stroke: #c33825;
  stroke-width: 2;
}
.st5,
.st6,
.st7 {
  stroke: #8bdee7;
  stroke-width: 0.5;
}
.st6,
.st7 {
  fill: #c33825;
  stroke-width: 0.25;
}
.st7 {
  fill: none;
  stroke: #c33825;
  stroke-width: 0.5;
}
.st8 {
  fill: #c33825;
}
.st9 {
  fill: #8bdee7;
}
