/* Starting of harry potter */

.wrapper {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.illu {
  position: relative;
  width: 60vw;
  height: 19vw;
  animation: fly 2s linear infinite alternate;
  transform-origin: left 30% center;
}

@keyframes fly {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.besen {
  position: absolute;
  transform: rotate(-1deg);
  bottom: 7vw;
}
.besen .besen__start {
  top: 3vw;
  position: absolute;
  width: 62vw;
  height: 2vw;
  background-color: #7a4b2c;
  border-radius: 30px;
}
.besen .besen__end {
  position: absolute;
  background-color: #fad08a;
  width: 20vw;
  height: 8vw;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.besen .besen__end:after {
  position: absolute;
  display: block;
  content: "";
  background-color: #c02e1a;
  width: 1.5vw;
  height: 8vw;
  left: 14vw;
}
.besen .besen__end:before {
  position: absolute;
  display: block;
  content: "";
  width: 0;
  height: 0;
  bottom: 2vw;
  border-top: 1.5vw solid transparent;
  border-left: 3vw solid orange;
}

.cap {
  position: relative;
  left: 10vw;
  top: -1vw;
}
.cap .cap__main {
  position: absolute;
  background-color: #c02e1a;
  width: 30vw;
  height: 15vw;
  border-top-right-radius: 2vw;
  border-bottom-left-radius: 2vw;
  border-bottom-right-radius: 100%;
  animation: cap 1s linear infinite alternate;
}
@keyframes cap {
  from {
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 100%;
  }
  to {
    border-bottom-left-radius: 6vw;
    border-bottom-right-radius: 75%;
  }
}
.cap .cap__end {
  position: absolute;
  background-color: #c02e1a;
  border-bottom-left-radius: 4vw;
  width: 8vw;
  left: -8vw;
  height: 4vw;
  top: 0;
  animation: cap_end 1s linear infinite alternate;
}
@keyframes cap_end {
  from {
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
  }
  to {
    border-top-left-radius: 1.5vw;
    border-bottom-left-radius: 1.5vw;
  }
}
.cap .cap__end:before {
  position: absolute;
  display: block;
  content: "";
  background-color: #c02e1a;
  height: 4vw;
  width: 4vw;
  top: 4vw;
  left: 4vw;
}
.cap .cap__end:after {
  position: absolute;
  display: block;
  content: "";
  background-color: orange;
  height: 4vw;
  width: 4vw;
  top: 4vw;
  left: 4vw;
  border-top-right-radius: 5vw;
}

.body {
  position: absolute;
  background-color: #b9832a;
  top: 2vw;
  left: 21vw;
  width: 21vw;
  height: 12vw;
  border-top-right-radius: 1vw;
  border-bottom-right-radius: 100%;
}

.arm {
  left: 37vw;
  transform-origin: left center;
  top: 2vw;
  position: absolute;
  animation: arm 2s linear infinite alternate;
}
@keyframes arm {
  0% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
.arm .arm__top {
  position: absolute;
  background-color: #c6512e;
  border-radius: 40%;
  width: 15vw;
  height: 4vw;
}
.arm .arm__down {
  position: absolute;
  left: 3vw;
  bottom: -7vw;
  transform-origin: right top;
  background-color: #c6512e;
  border-radius: 40%;
  width: 10vw;
  height: 3vw;
  overflow: hidden;
  animation: arm_down 2s linear infinite alternate;
}
@keyframes arm_down {
  0% {
    transform: rotate(150deg);
  }
  100% {
    transform: rotate(142deg);
  }
}
.arm .arm__down:before {
  position: absolute;
  display: block;
  content: "";
  right: 0;
  background-color: #c6512e;
  height: 100%;
  width: 70%;
}
.arm .arm__down:after {
  position: absolute;
  display: block;
  content: "";
  background-color: beige;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3vw;
}

.face__side {
  left: 35vw;
  top: -7vw;
  position: relative;
  animation: face 2s -2s linear infinite alternate;
}
@keyframes face {
  0% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.face__side .hair__bg {
  position: absolute;
  background-color: #49301b;
  width: 12vw;
  left: -1vw;
  top: -1vw;
  height: 8vw;
  border-radius: 5vw;
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
}
.face__side .base {
  width: 10vw;
  height: 11.5vw;
  background-color: beige;
  border-radius: 3vw;
  border-bottom-left-radius: 6vw;
  border-bottom-right-radius: 6vw;
  position: relative;
}
.face__side .base .eye {
  background-color: #000;
  height: 1vw;
  width: 1vw;
  position: absolute;
  border-radius: 50%;
  top: 5.5vw;
}
.face__side .base .eye.eye__right {
  right: 2vw;
}
.face__side .base .eye.eye--left {
  left: 2vw;
}
.face__side .base .glases {
  top: 5.7vw;
  left: calc(50% - 0.5vw);
  position: absolute;
  width: 1.5vw;
  height: 0.6vw;
  background-color: black;
}
.face__side .base .glases:after,
.face__side .base .glases:before {
  position: absolute;
  display: block;
  content: "";
  position: absolute;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  border: solid 0.6vw black;
  top: -1.75vw;
}
.face__side .base .glases:after {
  left: -4vw;
  z-index: 3;
}
.face__side .base .glases:before {
  left: 1vw;
}
.face__side .base .mouth {
  background-color: #c02e1a;
  width: 3vw;
  height: 1vw;
  position: absolute;
  top: 9vw;
  left: calc(50% - 1.5vw);
  border-radius: 50%/100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.face__side .base .hair {
  background-color: #49301b;
  position: absolute;
  width: 52%;
  height: 5vw;
}
.face__side .base .hair.hair__right {
  left: 0;
  width: 80%;
  border-top-left-radius: 2vw;
  border-bottom-right-radius: 100%;
}
.face__side .base .hair.hair__left {
  right: 0;
  height: 5.5vw;
  width: 40%;
  border-top-right-radius: 2vw;
  border-bottom-left-radius: 100%;
}

.face__profil {
  left: 37vw;
  top: -8vw;
  position: relative;
  animation: face 2s -2s linear infinite alternate;
}
@keyframes face {
  0% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.face__profil .nose {
  position: absolute;
  left: 9vw;
  z-index: 1;
  top: 6.3vw;
  width: 1.5vw;
  height: 1.5vw;
  background-color: beige;
  z-index: 5;
  border-radius: 50%;
}
.face__profil .base {
  width: 10vw;
  height: 11.5vw;
  background-color: beige;
  border-radius: 3vw;
  border-bottom-left-radius: 6vw;
  border-bottom-right-radius: 6vw;
  position: relative;
  overflow: hidden;
}
.face__profil .base .eye {
  background-color: #000;
  height: 1vw;
  width: 1vw;
  position: absolute;
  border-radius: 50%;
  top: 5.5vw;
}
.face__profil .base .eye.eye__right {
  right: 2vw;
}
.face__profil .base .glases {
  top: 5.7vw;
  left: 9vw;
  position: absolute;
  width: 1.5vw;
  height: 0.6vw;
  background-color: black;
}
.face__profil .base .glases:after {
  position: absolute;
  display: block;
  content: "";
  position: absolute;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  border: solid 0.6vw black;
  top: -1.75vw;
  left: -3.8vw;
  z-index: 3;
}
.face__profil .base .mouth {
  background-color: #c02e1a;
  width: 3vw;
  height: 1vw;
  position: absolute;
  top: 9vw;
  right: 0;
  border-radius: 50%/100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.face__profil .base .hair {
  background-color: #49301b;
  position: absolute;
  width: 52%;
  height: 5vw;
}
.face__profil .base .hair.hair__right {
  left: 0;
  width: 40%;
  height: 10vw;
  border-top-left-radius: 2vw;
  border-bottom-right-radius: 5vw;
}
.face__profil .base .hair.hair__left {
  right: 0;
  height: 3vw;
  width: 100%;
  border-top-right-radius: 2vw;
  border-bottom-right-radius: 10%;
}
.face__profil .base .hair.hair__left:before {
  position: absolute;
  display: block;
  content: "";
  height: 2vw;
  width: 2vw;
  position: absolute;
  background-color: #49301b;
  top: 3vw;
  left: 4vw;
}
.face__profil .base .hair.hair__left:after {
  position: absolute;
  display: block;
  content: "";
  height: 4vw;
  width: 4vw;
  background-color: beige;
  top: 3vw;
  left: 4vw;
  border-radius: 50%;
}

.leg {
  position: relative;
  left: 20vw;
  top: 9vw;
  width: 22vw;
  transform-origin: left top;
  animation: leg 2s -2s linear infinite alternate;
}
@keyframes leg {
  0% {
    transform: rotate(7deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.leg .leg__top {
  position: absolute;
  width: 22vw;
  height: 6vw;
  background-color: #c6512e;
  border-radius: 40%;
}
.leg .leg__down {
  right: 0;
  transform-origin: right center;
  transform: rotate(-35deg);
  position: absolute;
  width: 18vw;
  height: 5vw;
  background-color: #c6512e;
  border-radius: 40%;
}
.leg .foot {
  position: absolute;
  background-color: #49301b;
  width: 2vw;
  height: 6vw;
  top: 1vw;
  left: -1vw;
  transform-origin: left top;
  border-bottom-right-radius: 80vw;
  animation: foot 2s linear infinite alternate;
}
@keyframes foot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(20deg);
  }
}

.wind {
  animation: wind 1.5s linear infinite;
  background-color: #e5e5e5;
  border-radius: 40px;
  height: 1.5vh;
  position: absolute;
}
.wind:after {
  position: absolute;
  display: block;
  content: "";
  position: absolute;
  height: 1.5vh;
  background-color: #e5e5e5;
  border-radius: 40px;
  top: 4vw;
  left: 8vw;
}
@keyframes wind {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(-100vw);
  }
}

.wind__1 {
  top: 10vh;
  width: 30vw;
}
.wind__1:after {
  width: 30vw;
}

.wind__2 {
  bottom: 25vh;
  width: 50vw;
  animation-delay: -0.5s;
}
.wind__2:after {
  width: 50vw;
}

.schnatz {
  position: absolute;
  transition-timing-function: ease-in-out;
}
.schnatz .kugel {
  width: 3vw;
  height: 3vw;
  background-color: gold;
  border-radius: 50%;
  position: absolute;
}
.schnatz .wing {
  position: absolute;
  width: 6vw;
  height: 1.5vw;
  border-radius: 20px;
  background-color: gold;
  top: -2vw;
}
.schnatz .wing:after {
  position: absolute;
  display: block;
  content: "";
  position: absolute;
  width: 4vw;
  height: 1.5vw;
  top: 1vw;
  background-color: gold;
  border-radius: 20px;
}
.schnatz .wing.wing__left {
  left: -6vw;
  transform-origin: right bottom;
  animation: wing__left 1s infinite alternate;
}
@keyframes wing__left {
  from {
    transform: rotate(30deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.schnatz .wing.wing__left:after {
  left: 2vw;
}
.schnatz .wing.wing__right {
  left: 3vw;
  transform-origin: left bottom;
  animation: wing__right 1s infinite alternate;
}
@keyframes wing__right {
  from {
    transform: rotate(-30deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.wrapper {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.illu {
  position: relative;
  width: 60vw;
  height: 19vw;
  animation: fly 2s linear infinite alternate;
  transform-origin: left 30% center;
}

@keyframes fly {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.besen {
  position: absolute;
  transform: rotate(-1deg);
  bottom: 7vw;
}

.besen .besen__start {
  top: 3vw;
  position: absolute;
  width: 62vw;
  height: 2vw;
  background-color: #7a4b2c;
  border-radius: 30px;
}

.besen .besen__end {
  position: absolute;
  background-color: #fad08a;
  width: 20vw;
  height: 8vw;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.besen .besen__end:after {
  position: absolute;
  display: block;
  content: "";
  background-color: #c02e1a;
  width: 1.5vw;
  height: 8vw;
  left: 14vw;
}

.besen .besen__end:before {
  position: absolute;
  display: block;
  content: "";
  width: 0;
  height: 0;
  bottom: 2vw;
  border-top: 1.5vw solid transparent;
  border-left: 3vw solid orange;
}

.cap {
  position: relative;
  left: 10vw;
  top: -1vw;
}

.cap .cap__main {
  position: absolute;
  background-color: #c02e1a;
  width: 30vw;
  height: 15vw;
  border-top-right-radius: 2vw;
  border-bottom-left-radius: 2vw;
  border-bottom-right-radius: 100%;
  animation: cap 1s linear infinite alternate;
}

@keyframes cap {
  from {
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 100%;
  }
  to {
    border-bottom-left-radius: 6vw;
    border-bottom-right-radius: 75%;
  }
}
.cap .cap__end {
  position: absolute;
  background-color: #c02e1a;
  border-bottom-left-radius: 4vw;
  width: 8vw;
  left: -8vw;
  height: 4vw;
  top: 0;
  animation: cap_end 1s linear infinite alternate;
}

@keyframes cap_end {
  from {
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
  }
  to {
    border-top-left-radius: 1.5vw;
    border-bottom-left-radius: 1.5vw;
  }
}
.cap .cap__end:before {
  position: absolute;
  display: block;
  content: "";
  background-color: #c02e1a;
  height: 4vw;
  width: 4vw;
  top: 4vw;
  left: 4vw;
}

.cap .cap__end:after {
  position: absolute;
  display: block;
  content: "";
  background-color: orange;
  height: 4vw;
  width: 4vw;
  top: 4vw;
  left: 4vw;
  border-top-right-radius: 5vw;
}

.arm {
  left: 37vw;
  transform-origin: left center;
  top: 2vw;
  position: absolute;
  animation: arm 2s linear infinite alternate;
}

@keyframes arm {
  0% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
.arm .arm__top {
  position: absolute;
  background-color: #c6512e;
  border-radius: 40%;
  width: 15vw;
  height: 4vw;
}

.arm .arm__down {
  position: absolute;
  left: 3vw;
  bottom: -7vw;
  transform-origin: right top;
  background-color: #c6512e;
  border-radius: 40%;
  width: 10vw;
  height: 3vw;
  overflow: hidden;
  animation: arm_down 2s linear infinite alternate;
}

@keyframes arm_down {
  0% {
    transform: rotate(150deg);
  }
  100% {
    transform: rotate(142deg);
  }
}
.arm .arm__down:before {
  position: absolute;
  display: block;
  content: "";
  right: 0;
  background-color: #c6512e;
  height: 100%;
  width: 70%;
}

.arm .arm__down:after {
  position: absolute;
  display: block;
  content: "";
  background-color: beige;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3vw;
}

.face__side {
  left: 35vw;
  top: -7vw;
  position: relative;
  animation: face 2s -2s linear infinite alternate;
}

@keyframes face {
  0% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.face__side .hair__bg {
  position: absolute;
  background-color: #49301b;
  width: 12vw;
  left: -1vw;
  top: -1vw;
  height: 8vw;
  border-radius: 5vw;
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
}

.face__side .base {
  width: 10vw;
  height: 11.5vw;
  background-color: beige;
  border-radius: 3vw;
  border-bottom-left-radius: 6vw;
  border-bottom-right-radius: 6vw;
  position: relative;
}

.face__side .base .eye {
  background-color: #000;
  height: 1vw;
  width: 1vw;
  position: absolute;
  border-radius: 50%;
  top: 5.5vw;
}

.face__side .base .eye.eye__right {
  right: 2vw;
}

.face__side .base .eye.eye--left {
  left: 2vw;
}

.face__side .base .glases {
  top: 5.7vw;
  left: calc(50% - 0.5vw);
  position: absolute;
  width: 1.5vw;
  height: 0.6vw;
  background-color: black;
}

.face__side .base .glases:after,
.face__side .base .glases:before {
  position: absolute;
  display: block;
  content: "";
  position: absolute;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  border: solid 0.6vw black;
  top: -1.75vw;
}

.face__side .base .glases:after {
  left: -4vw;
  z-index: 3;
}

.face__side .base .glases:before {
  left: 1vw;
}

.face__side .base .mouth {
  background-color: #c02e1a;
  width: 3vw;
  height: 1vw;
  position: absolute;
  top: 9vw;
  left: calc(50% - 1.5vw);
  border-radius: 50%/100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.face__side .base .hair {
  background-color: #49301b;
  position: absolute;
  width: 52%;
  height: 5vw;
}

.face__side .base .hair.hair__right {
  left: 0;
  width: 80%;
  border-top-left-radius: 2vw;
  border-bottom-right-radius: 100%;
}

.face__side .base .hair.hair__left {
  right: 0;
  height: 5.5vw;
  width: 40%;
  border-top-right-radius: 2vw;
  border-bottom-left-radius: 100%;
}

.face__profil {
  left: 37vw;
  top: -8vw;
  position: relative;
  animation: face 2s -2s linear infinite alternate;
}

@keyframes face {
  0% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.face__profil .nose {
  position: absolute;
  left: 9vw;
  z-index: 1;
  top: 6.3vw;
  width: 1.5vw;
  height: 1.5vw;
  background-color: beige;
  z-index: 5;
  border-radius: 50%;
}

.face__profil .base {
  width: 10vw;
  height: 11.5vw;
  background-color: beige;
  border-radius: 3vw;
  border-bottom-left-radius: 6vw;
  border-bottom-right-radius: 6vw;
  position: relative;
  overflow: hidden;
}

.face__profil .base .eye {
  background-color: #000;
  height: 1vw;
  width: 1vw;
  position: absolute;
  border-radius: 50%;
  top: 5.5vw;
}

.face__profil .base .eye.eye__right {
  right: 2vw;
}

.face__profil .base .glases {
  top: 5.7vw;
  left: 9vw;
  position: absolute;
  width: 1.5vw;
  height: 0.6vw;
  background-color: black;
}

.face__profil .base .glases:after {
  position: absolute;
  display: block;
  content: "";
  position: absolute;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  border: solid 0.6vw black;
  top: -1.75vw;
  left: -3.8vw;
  z-index: 3;
}

.face__profil .base .mouth {
  background-color: #c02e1a;
  width: 3vw;
  height: 1vw;
  position: absolute;
  top: 9vw;
  right: 0;
  border-radius: 50%/100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.face__profil .base .hair {
  background-color: #49301b;
  position: absolute;
  width: 52%;
  height: 5vw;
}

.face__profil .base .hair.hair__right {
  left: 0;
  width: 40%;
  height: 10vw;
  border-top-left-radius: 2vw;
  border-bottom-right-radius: 5vw;
}

.face__profil .base .hair.hair__left {
  right: 0;
  height: 3vw;
  width: 100%;
  border-top-right-radius: 2vw;
  border-bottom-right-radius: 10%;
}

.face__profil .base .hair.hair__left:before {
  position: absolute;
  display: block;
  content: "";
  height: 2vw;
  width: 2vw;
  position: absolute;
  background-color: #49301b;
  top: 3vw;
  left: 4vw;
}

.face__profil .base .hair.hair__left:after {
  position: absolute;
  display: block;
  content: "";
  height: 4vw;
  width: 4vw;
  background-color: beige;
  top: 3vw;
  left: 4vw;
  border-radius: 50%;
}

.leg {
  position: relative;
  left: 20vw;
  top: 9vw;
  width: 22vw;
  transform-origin: left top;
  animation: leg 2s -2s linear infinite alternate;
}

@keyframes leg {
  0% {
    transform: rotate(7deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.leg .leg__top {
  position: absolute;
  width: 22vw;
  height: 6vw;
  background-color: #c6512e;
  border-radius: 40%;
}

.leg .leg__down {
  right: 0;
  transform-origin: right center;
  transform: rotate(-35deg);
  position: absolute;
  width: 18vw;
  height: 5vw;
  background-color: #c6512e;
  border-radius: 40%;
}

.leg .foot {
  position: absolute;
  background-color: #49301b;
  width: 2vw;
  height: 6vw;
  top: 1vw;
  left: -1vw;
  transform-origin: left top;
  border-bottom-right-radius: 80vw;
  animation: foot 2s linear infinite alternate;
}

@keyframes foot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
.wind {
  animation: wind 1.5s linear infinite;
  background-color: #e5e5e5;
  border-radius: 40px;
  height: 1.5vh;
  position: absolute;
}

.wind:after {
  position: absolute;
  display: block;
  content: "";
  position: absolute;
  height: 1.5vh;
  background-color: #e5e5e5;
  border-radius: 40px;
  top: 4vw;
  left: 8vw;
}

@keyframes wind {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(-100vw);
  }
}
.wind__1 {
  top: 10vh;
  width: 30vw;
}

.wind__1:after {
  width: 30vw;
}

.wind__2 {
  bottom: 25vh;
  width: 50vw;
  animation-delay: -0.5s;
}

.wind__2:after {
  width: 50vw;
}

.schnatz {
  position: absolute;
  top: 20%;
  transition-timing-function: ease-in-out;
}

.schnatz .kugel {
  width: 3vw;
  height: 3vw;
  background-color: gold;
  border-radius: 50%;
  position: absolute;
}

.schnatz .wing {
  position: absolute;
  width: 6vw;
  height: 1.5vw;
  border-radius: 20px;
  background-color: gold;
  top: -2vw;
}

.schnatz .wing:after {
  position: absolute;
  display: block;
  content: "";
  position: absolute;
  width: 4vw;
  height: 1.5vw;
  top: 1vw;
  background-color: gold;
  border-radius: 20px;
}

.schnatz .wing.wing__left {
  left: -6vw;
  transform-origin: right bottom;
  animation: wing__left 1s infinite alternate;
}

@keyframes wing__left {
  from {
    transform: rotate(30deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.schnatz .wing.wing__left:after {
  left: 2vw;
}

.schnatz .wing.wing__right {
  left: 3vw;
  transform-origin: left bottom;
  animation: wing__right 1s infinite alternate;
}

@keyframes wing__right {
  from {
    transform: rotate(-30deg);
  }
  to {
    transform: rotate(0deg);
  }
}
